@use '../global/index' as *;

.input {
  background-color: rgba(17, 25, 40, 0.6);
  border: 1px rgba(128, 128, 128, 0.345) solid;
  border: none;
  padding: 20px;
  border-radius: 4px;
  outline: none;
  color: $cWhite;
  font-size: 1rem;

  .light & {
    color: $cNavy;
    background-color: $lightModeCardBg;
  }
}