@use '../global/index' as *;

.home {
  &__wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__search {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 40px;
  }
}
