@use '../global/index' as *;

.rating {
  &_wrapper{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &_post-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 640px;

    @include mq(lg) {
      width: 100%;
    }
  }

  &_set-score {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $cWhite;
    width: 500px;

    .light & {
      color: $cNavy;
    }

    @include mq(lg) {
      width: 100%;
    }

    &>input {
      flex: 1;
    }
  }

  &_comment-and-button {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: space-between;

    @include mq(lg) {
      flex-direction: column;
      gap: 16px;
    }

    &>textarea {
      width: 516px;
      height: 120px;
      resize: none;
      box-sizing: border-box;
      flex: 1;

      @include mq(lg) {
        width: 100%;
      }
    }

    &>button {
      align-self: flex-end;

      @include mq(lg) {
        width: 100%;
      }
    }
  }

  &_no-comments {
    padding-top: 80px;
    color: $cLightGray;
    text-align: center;
  }

  &_comments {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

}