@use '../global/index' as *;

.myPage {
  &_wrapper {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &_button-container {
    margin: 20px 0;
    padding: 0 calc((100vw - 1000px) / 2);
    display: flex;
    background-color: $cFadedBlackLight;
    width: 100%;
    justify-content: flex-start;
    border-top: 1px $cLightGrayBorder solid;
    border-bottom: 1px $cLightGrayBorder solid;

    .light & {
      background-color: $cFadedBlackStrong;
    }

    & .button {
      padding: 20px 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      color: $cLightGray;
      cursor: pointer;

      @include mq(md) {
        padding: 8px 40px;
        font-size: 0.8rem;
      } 

      &.selected {
        background-color: $cBlue;
        color: $cWhite;
      }
    }
  }

}