@use '../global/index' as *;

.header {
  height: 60px;
  background-color: #222222;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0px 12px 24px -13px #161616;

  @include mq(lg) {
    padding: 0 10px;
    height: 60px;
  }

  &__logo-link {
    user-select: none;
  }

  &__logo {
    height: 50px;

    @include mq(md) {
      height: 45px;
    }
  }

  &_icon-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__toggle-theme {
    background-color: $cFadedBlackLight;
    padding: 10px;
    border-radius: 60px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &__theme-icon {
    color: white;
  }

  &__user-icon-link {
    height: 40px;
    width: 40px;
    cursor: pointer;
    user-select: none;

    &_hide {
      display: none;
    }
  }

  &__user-icon {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}