@use '../global/index' as *;

.movieDetail {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  width: 100%;

  &__poster-button-container {
    max-width: 500px;
    height: auto;
    aspect-ratio: 2/3;
    flex: 1;

    @include mq(md) {
      flex: 2;
    }
  }

  &__poster {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 4px;
  }

  &__want-to-watch-button {
    flex: 1;
    text-align: center;
    background-color: $cFadedBlackLight;
    border: 1px rgba(128, 128, 128, 0.345) solid;
    padding: 8px 0;
    border-radius: 8px;
    cursor: pointer;

    .light & {
      background-color: $cFadedBlackStrong;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__want-to-watch-icon {
    &_registered {
      color: $cBlue;
    }

    &_unregistered {
      color: $cLightGray;
    }
  }

  &__infos {
    padding-top: 16px;
    flex: 4;

    @include mq(md) {
      flex: 3;
    }
  }

  &__title {
    font-size: 2rem;
    color: $cWhite;
    font-weight: 700;
    margin-bottom: 8px;

    .light & {
      color: $cNavy;
    }

    @include mq(md) {
      font-size: 1.5rem;
    }
  }

  &__release-year {
    font-size: 0.8rem;
    font-weight: 400;
  }

  &__score {
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 1.2rem;
    color: $cWhite;
    font-weight: 700;
    margin-bottom: 16px;

    .light & {
      color: $cNavy;
    }
  }

  &__overview {
    color: $cWhite;
    line-height: 1.4rem;

    .light & {
      color: $cNavy;
    }

    @include mq(md) {
      font-size: 0.8rem;
    }
  }
}