@use '../global/index' as *;

.userProfileInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
  gap: 20px;

  &__icon-container {
    width: 120px;
    height: 120px;
    margin-bottom: 8px;

    @include mq(md) {
      width: 80px;
      height: 80px;
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__info-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }

  &__display-name {
    color: $cWhite;
    font-weight: 700;
    font-size: 1.4rem;

    .light & {
      color: $cNavy;
    }
  }

  &__introduction {
    color: $cWhite;
    margin-bottom: 8px;

    .light & {
      color: $cNavy;
    }
  }

  &__button-container {
    display: flex;
    gap: 8px;
  }

  &__movies-watched {
    color: $cWhite;
    margin-bottom: 8px;

    .light & {
      color: $cNavy;
    }
  }
}