@use '../../global/colors' as *;
@use '../../global/mq' as *;

@mixin base-button-styles {
  border: none;
  border-radius: 4px;
  padding: 14px 20px;
  cursor: pointer;
  white-space: nowrap;

  @include mq(md) {
      font-size: 0.6rem;
      padding: 12px 16px;
  }

  &:hover {
      opacity: 0.8;
  }

  &:disabled {
      cursor: not-allowed;
  }
}