@use './base-button-styles' as *;
@use '../../global/colors' as *;

.button-inverted {
  @include base-button-styles;
  background-color: transparent;
  border: $cBlue solid 1px;
  color: $cBlue;

  &:disabled {
    border: $cDisabledGray solid 1px;
    color: $cDisabledGray;
  }
}