@use './base-button-styles' as *;
@use '../../global/colors' as *;

.button-secondary {
  @include base-button-styles;
  background-color: $cWhite;
  color: $cNavy;

  &:disabled {
    background-color: $cDisabledGray;
    color: $cWhite;
  }
}